# Dependencies
node_modules/

# Production / Build Output
dist/
*.tsbuildinfo

# Environment variables & secrets
.env
.env.*
!.env.example
*.pem

# Testing & Coverage
coverage/
*.log

# Editor & OS files
.DS_Store
Thumbs.db
